<nav id="nav" class="navbar navbar-expand-md navbar-light px-0">
  <a class="navbar-brand" href="{{ site.url }}" title="{{ site.title }}"><strong>{{ site.ident }}</strong></a>
  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="nav-content">
    <ul class="navbar-nav ml-auto">
      {% for item in site.data.nav.docs %}
      <li class="nav-item">
        <a class="nav-link{% if page.url == item.url %} active{% endif %}" href="{{ site.url }}{{ item.url }}">{{ item.title }}{% if page.url == item.url %} <span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
