$orange: #ED7611;

$theme-colors: (
  "orange"      : $orange
);


$enable-rounded: false;

$font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family:   'Poppins', $font-family-sans-serif;
$headings-font-weight:   600;
