<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head.html %}
  </head>

  <body class="">
    <h2 class="sr-only">{{ page.title }} - {{ site.title }}</h2>

    <header id="masthead" class="py-4">
      <div class="container">
        <nav id="nav" class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="{{ site.url }}"><span class="d-block font-weight-bold">David Brooks</span><span class="d-block small">Web Developer</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="nav-content">
            <ul class="navbar-nav ml-auto">
              {% for item in site.data.nav.docs %}
              <li class="nav-item">
                <a class="nav-link{% if page.url == item.url %} active{% endif %}" href="{{ site.url }}{{ item.url }}">{{ item.title }}{% if page.url == item.url %} <span class="sr-only">(current)</span>{% endif %}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <section id="hero">
      <div class="container">
        <div class="jumbotron bg-transparent px-0">
          <p>
            Lead web developer with over 10 years of experience in HTML, CSS (SASS/SCSS), JS, PHP, Content Management Systems, etc.
          </p>
        </div>
      </div>
    </section>

    <main id="main">
      <div class="container">
        {{ content }}
      </div>
    </main>

    {% include scripts.html %}

  </body>

</html>
